.home{
	background: #09003F;
	color: #FFC72C;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	.home-center{
		h1{
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			text-align: center;
			text-transform: uppercase;
			font-size: 3rem;
			span{
				color: white;
				margin-left: 1rem;
			}
		}
		ol{
			list-style: none; /* Remove a enumeração padrão */
			margin: 1rem;
			padding: 1rem 2rem;
			
			li{
				font-size: 2rem;
			}
		}
		  
		ol{
			li::before{
				content: counter(list-item, decimal) "-"; /* Usa o contador padrão decimal */
				color: white; /* Define a cor dos números */
				display: inline-block;
				width: 1em; /* Ajusta o espaço para os números */
				margin-left: -1em; /* Ajusta o espaço para os números */
			}
		}

		.btn-gerar{
			display: flex;
			justify-content: center;
			align-items: center;
			background: #FFC72C;
			color: #09003F;
			width: fit-content;
			padding: .2rem 1rem;
			border-radius: 2rem;
			font-size: 1.2rem;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0 auto;
		}
	}

	ul{
		display: flex;
		justify-content: center;
		align-items: center;
		list-style-type: none;
		padding: 0;
		li{
			margin: 0 1rem;
		}
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 45px;
		height: 20px;
	  }
	  
	  /* Hide default checkbox */
	  .switch input {
		opacity: 0;
		width: 0;
		height: 0;
	  }
	  
	  /* Style the slider */
	  .slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		transition: .4s;
	  }
	  
	  .slider:before {
		position: absolute;
		content: "";
		height: 18.2px;
		width: 18.2px;
		left: 2px;
		bottom: 1px;
		background-color: white;
		transition: .4s;
	  }
	  
	  input:checked + .slider {
		background-color: #2196F3;
	  }
	  
	  input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	  }
	  
	  input:checked + .slider:before {
		transform: translateX(23px);
	  }
	  
	  /* Rounded sliders */
	  .slider.round {
		border-radius: 34px;
	  }
	  
	  .slider.round:before {
		border-radius: 50%;
	  }

	  .quantidade{
		width: 1.3rem;
		text-align: right;
	  }
}